body {
    background-color: rgb(255, 255, 255);
    /* Updated background color for the body */
}

.navbar-brand,
.navbar-nav .nav-link {
    color: black;
}

.nav-icon {
    display: block;
    text-align: center;
}

.carousel img {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
}

.card img {
    width: 100%;
    object-fit: cover;
}



.ml20{
   margin-left: 20% !important;
}

